:root {
  --accent: 252 163 17;
  --background: 255 255 255;
  --content: 0 0 0;
  --foreground: 229 229 229;
  --edge: 20 33 61;
}

.theme-dark {
  --accent: 247 23 53;
  --background: 23 23 23;
  --content: 237 237 237;
  --foreground: 68 68 68;
  --edge: 237 237 237;
}

.theme-light {
  --accent: 204 213 174;
  --background: 254 250 224;
  --content: 212 163 115;
  --foreground: 250 237 205;
  --edge: 233 237 201;
}

.theme-custom {
  --accent: 252 163 17;
  --background: 255 255 255;
  --content: 0 0 0;
  --foreground: 229 229 229;
  --edge: 20 33 61;
}

body {
  /* set background and text colors based on theme by default */
  /* @apply bg-background; */
  /* @apply text-content; */
}

@tailwind base;

@tailwind components;

@tailwind utilities;
